{% extends 'master.html' %}

{% block title %}
  Goods
{% endblock %}

{% block content %}
{% load static %}
  <div class="container">
      <h2 class="content-title font-Oswald">Goods</h2>

      <div class="row">
        <div class="col-md-2 col-sm-2">
          <p class="tNews-more font-Oswald">
            <a href="/Goods" class="CategoryPage">All</a>
          </p>
        </div>
        <div>
          {% for category in category %}
          <div class="col-md-2 col-sm-2">
            <p class="tNews-more font-Oswald">
              <a href="/Goods" class="CategoryPage">{{category.Name}}</a>
            </p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div>
        <li class="row tBluList-items">
          {% for Goods in goods %}
            <div class="col-md-3">
              <a href="{{Goods.id}}" class="Goods-box">
                  
                  <img src="{{Goods.Img.url}}">
                  
                  <div class="Goods-title">
                      {{Goods.Name}}<br>
                  </div>
              </a>
            </div>
            {% empty %}

          {% endfor %}
        </li>
      </div>



  </div>



{% endblock content %}


